.addDesign{
    color: var(--second-font-color);

    h3{
        margin: 10px 0;

    }

    hr{
        margin: 20px 0;
        border: 1px solid var(--main-card-color);
    }

    button{
        width: 100%;
    }

    img{
        margin: 10px 0;
    }
}