.individualProducts{
    p{
        color: #909090;
    }
    
    .containerCards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        .PIfromGP{
            display: grid;
            place-content: center;
            .createProduct{
                padding: 20px 0;
                width: 270px;
                border-radius: 12px;
                background-color: #F1F1F1;
                margin: 10px 0;
                section{
                    text-align: center;
                    margin: 10px;
                }
                .containerPlus{
                    cursor: pointer;
                    display: grid;
                    place-content: center;
                    margin: 10px 0;
                    .plus{
                        width: 150px;
                        height: 150px;
                        border-radius: 40%;
                        background-color: #F4D3C1;
                        color: #FE5C00;
                        display: grid;
                        place-content: center;
                        svg{
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
            }
        }
    }


}

.actions{
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    .add{
        width: 400px;
        button{
            width: 100%;
            height: 70px;
            color: var(--second-font-color);
            border-radius: 0;
        }
    }
}