.filters{
    color: var(--second-font-color);
    padding: 5px 15px;
    h3{
        margin: 10px 0;

    }

    hr{
        margin: 20px 0;
        border: 1px dashed var(--main-card-color);
    }

    .filter{
        display: flex;
        gap: 5px;
    }

    .tagsQuery{
        margin: 10px 0;
        display: flex;
        gap: 2px;
        .query{
            width: 100%;
            color: #000;
        }
    }


}