.cardGeneral{
    width: 270px;
    article{
        /* .containerImage{
            border: 3px solid #FE5C00;
            border-radius: 15px;
            img{
                width: 100%;
                border-radius: 15px;
            }
        } */

        .containerCard{
            margin: 10px 0;
            .title{
                font-weight: 600;
            }

            .subtitle{}

            .price{
                color: #FE5C00;
                font-weight: 600;

            }
            
            .containerSizeColor{
                margin-bottom: 10px;

                display: flex;
                justify-content: space-between;
                justify-items: center;
                .containerSize{}
                .containerColor{
                    display: flex;
                    gap: 10px;
                    .color{
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        outline-offset: 3px;
                        /* outline: 1px solid #FE5C00; */
                        box-sizing: border-box;
                    }
                }
            }


            .containerButtons{
                display: flex;
                justify-content: center;

                button{
                    width: 100%;
                }
            }
        }
    }
}