.popover{
    background-color: #09090b;
    color: #fff;
    width: 20rem;

    button[type='button']{
        padding: 0;
        cursor: default;
        background-color: transparent;
        display: flex;
        justify-content: end;
        width: 100%;
    }
}