
.ImageItemCarousel{
    display: grid;
    place-content: center;
    background-color: #D9D9D9;
    /* width: 200px;
    height: 150px; */
    width: 100%;
    height: 100%;
    border-radius: 15px;
    svg{
        color: #FE5C00;
        cursor: pointer;
    }

    .inputImg{
        display: none;
    }
}