.adminOptions{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px;
    padding: 5px;
    border-radius: var(--main-radius);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    width: fit-content;
}