.container{
    .datePay{
        text-align: center;
    }
}

.myPayments{
    margin: 10px 0;
    padding: 0 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.5rem;

}