.listColors{
    display: flex;
    gap: 10px;
    div{
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        outline-offset: 3px;
        box-sizing: border-box;

        &.active{
            outline: 2px solid var(--main-color);
        }
    }
}