.containerColor{
    display: flex;
    gap: 10px;
    .color{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        outline-offset: 3px;
        /* outline: 1px solid #FE5C00; */
        box-sizing: border-box;

        &:hover{
            cursor: pointer;
        }
    }
}